body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 85%;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}

#navbar {
  display: flex;
  justify-content: right;
}

#navbar li {
  display: inline-block;
  padding: 8px;
}

li.navlinks {
  color: #404040;
}

#signIn {
  background: #4887ef;
  padding: 7px 15px;
  font-weight: bold;
  margin-right: 25px;
  border-radius: 3px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li.navlinks a:hover {
  text-decoration: underline;
}

#signIn a:hover {
  text-decoration: underline;
}
  /*above is for the NAV Bar at the top of webpage*/

#googleLogo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  clear: both;
  padding-top: 120px;
  padding-bottom: 5px;
}

img {
  width: 475px;
  height: auto;
}
  /*above is for the Google img center page*/

form {
  display: flex;
  justify-content: center;
}

#formSearch {
  width: 530px;
  line-height: 12px;
  padding: 10px 10px;
  border-width: 1px;
}
  /*above is for the search bar*/

.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
  /*above is for buttons*/

footer {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

footer ul li {
  display: inline;
  color: #666666;
  padding: 13px;
}

.footerLeft {
  text-align: left;
  float: left;
}

.footerRight {
  text-align: right;
  float: right;
}

footer ul a:hover {
  text-decoration: underline;
}
/*above is for footer on webpage*/

/*END BASIC CSS*/
