body {
  font-family: Merriweather, serif;
  text-align: center;
  margin: 0;
  background-color: #FFF2F2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 2%;
  border-color: #FFF2F2;
  border-width: 5px;
}

h1 {
  color:  #FFDB89;
  font-size: 4rem;
  font-family: Sacramento, cursive;
  font-weight: normal;
  margin: 0 auto 0 auto;
}

h2 {
  color: #40514E;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px rgba(251, 233, 231, 0.56);
  letter-spacing: .2rem;
}

h3 {
  color: #40514E;
  font-family: Montserrat, sans-serif;
}

p {
  color: #40514E;
  font-size: 1.3rem;
  letter-spacing: .025rem;
}

header {
  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: rgba(105, 12, 41, 0.92);
  margin: 0;
}

.logoheader {
  float: left;
  width: 4%;
}

.welcome {
  position: relative;
  margin: 0;
  /* background-image: url(imagesbonita/Most-Beautiful-House-in-the-World.jpg);
  background-color: transparent;
  background-color: rgba(251, 233, 231, 0.56);*/
}

.aboutus {
  position: relative;
  height: 18.75rem;
  width: 43.75rem;
  margin: auto;
  border: 5px solid rgba(105, 12, 41, 0.92);
  border-radius: 15px;
  box-shadow: 10px 10px 5px grey;
  background-color: rgba(251, 233, 231, 0.56);
}

.services {
  position: relative;
  margin: auto;
  padding: 20px;
}

.row {
padding: inherit;
}

.col-sm-4 {
  border-radius: 2px;
  margin: 8px;
}

.meettheteam {
  position: relative;
  padding-top: 100px;
}

.col {
  border: 2px solid rgba(105, 12, 41, 0.92);
  border-radius: 2px;
  margin: 8px;
  outline-style: double;
  background-color: rgba(251, 233, 231, 0.56);
}

.detailp {
  text-align: left;
}

.visionstatement {
  position: relative;
}

.contactus {
  position: relative;
}

footer {
  position: relative;
  width: 100%;
  background-color: rgba(105, 12, 41, 0.92);
  margin: 0;
  padding: 5px;
}

.logobottom {
  float: left;
  width: 4%;
  margin: 0;
}
