body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue;
  font-size: 85%;
  background-color: #F8E6E4;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1px;
  background-color: rgba(105, 12, 41, 0.92);
  margin: 0;
  color: #FFCC80;
  letter-spacing: .2rem;
}

h1 {
  display: flex;
  justify-content: center;
  letter-spacing: .2rem;
}

div {
  font-size: 1.5em;
  color: #fe7f88;
  background-image: url(imagesbonita/Most-Beautiful-House-in-the-World.jpg);
  background-color: transparent;
}

p {
  display: flex;
  justify-content: center;
}
